---
import { getImage } from "astro:assets";
import testImage from "$assets/maxim-berg-unsplash.jpg";
import type { Optional } from "@chrismwilliams/utils/types";

type Props = {
	decoding?: "async" | "auto" | "sync" | undefined;
	loading?: "eager" | "lazy" | undefined;
	getImageOptions?: Optional<Parameters<typeof getImage>[0], "src"> | undefined;
};

const { decoding, loading, getImageOptions = {} } = Astro.props;

const optimisedImage = await getImage({
	src: testImage,
	width: 860,
	quality: 90,
	...getImageOptions,
});
---

<img
	src={optimisedImage.src}
	width={optimisedImage.attributes.width}
	height={optimisedImage.attributes.height}
	alt="A colorful abstract background with wavy lines by Maxim Berg"
	decoding={decoding}
	loading={loading}
/>
<dl>
	<dt>Decoding</dt>
	<dd>{typeof decoding === "undefined" ? "NA" : <strong>{decoding}</strong>}</dd>
	<dt>Loading</dt>
	<dd>{typeof loading === "undefined" ? "NA" : <strong>{loading}</strong>}</dd>
</dl>
<p>Note: <strong>Bold</strong> repesents attribute values different from default.</p>
